*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-family: "Courier New", Courier, monospace;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  display: grid;
  grid-template-columns: 0.75fr 1fr;
  row-gap: 1em;
  align-items: center;
}

input {
  width: 2rem;
  height: 2rem;
}

label {
  font-size: 2rem;
}
